<div class="row">
    <div class="col-lg-6">
        <widget xTitle="Upcoming Flights" className="col-lg-12" height="162px">
            <dx-data-grid
            [dataSource]="testData">
            <dxi-column dataField="from" caption="From"></dxi-column>
            <dxi-column dataField="to" caption="To"></dxi-column>
            <dxi-column dataField="time" caption="Time"></dxi-column>
            </dx-data-grid>
        </widget>
    </div>
    <div class="col-lg-6">
        <widget xTitle="Pending Trades" className="col-lg-12">
            <div class="row" style="padding-left: 25px">
                <h2>August 5</h2>
            </div>
            <div class="row" style="width:100%">
                <ul style="list-style-type:none;width:100%">
                    <li>
                        <div class="pull-left">
                            <div class="row">
                                <h2>TRADING</h2>
                            </div>
                            <div class="row">
                                ATL → DEN @ 4:15 p.m
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="row">
                                <h2>FOR</h2>
                            </div>
                            <div class="row">
                                ATL → CLT @ 3:30 p.m
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </widget>
    </div>
</div>