<div class="row">
    <div class="col-lg-5">
        <widget xTitle="Current Schedule" className="col-lg-12">
            <dx-data-grid #grid
            [dataSource]="testDataCurrent"
            [selection]="{'mode': 'single'}"
            (onRowClick)="onCurrentSelect($event)">
                <dxi-column dataField="flight_id" caption="Flight ID"></dxi-column>
                <dxi-column dataField="start" caption="From"></dxi-column>
                <dxi-column dataField="end" caption="To"></dxi-column>
                <dxi-column dataField="departure_time" caption="Departure Time" dataType="datetime"></dxi-column>
                <dxi-column dataField="arrival_time" caption="Arrival Time" dataType="datetime"></dxi-column>
            </dx-data-grid>
        </widget>
    </div>
    <div class="col-lg-2 justify-content-center" style="padding-left: 135px;">
        <div class="row" style="margin-top:70px;">
            <button type="button" class="btn btn-primary" (click)="onTradeClick()"><i class="fa fa-exchange"></i> Trade</button>
        </div>
    </div>
    <div class="col-lg-5">
        <widget xTitle="Legal Trades" className="col-lg-12">
            <dx-data-grid #grid2
            [dataSource]="testDataTrade"
            [selection]="{'mode': 'single'}"
            (onRowClick)="onTradeSelect($event)">
                <dxi-column dataField="flight_id" caption="Flight ID"></dxi-column>
                <dxi-column dataField="start" caption="From"></dxi-column>
                <dxi-column dataField="end" caption="To"></dxi-column>
                <dxi-column dataField="departure_time" caption="Departure Time" dataType="datetime"></dxi-column>
                <dxi-column dataField="arrival_time" caption="Arrival Time" dataType="datetime"></dxi-column>
            </dx-data-grid>
        </widget>
    </div>
</div>