@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  /* WIDGET CSS */
  .widget-container {
    padding: 15px 5px 0px 20px;
  }
  
  .widget-main {
    border: 2px solid #cecdcd;
    border-radius: 5px;
    background-color: #dcd8d8;
  }

  .widget-content {
    padding: 15px 15px;
    background-color: #ffffff;
    margin: 5px 15px 15px 15px;
    width: 100%;
  }

  .widget-title {
    color: #717171;
    font-weight: bold;
    padding: 0 0 0 15px;
    margin-bottom: -20px;
    margin-top: 5px;
  }

  .pull-left {
    text-align: left;
  }

  .pull-right {
    margin-left: auto;
  }

  .list > li {
    border: 1px solid #717171;
    margin-top: 4px;
  }